*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --color-white: rgb(255, 255, 255);;
  
  --color-blue: rgb(29, 155, 240);

}

body{
  font-family: inherit;
  background-color: black;
  color: var(--color-white);
  font-size: 1.6rem;
}
  


ul li{
  list-style: none;
  
}

a {
  text-decoration: none;
}

/*--mensage-error-post*/

#msg {
  color: var(--color-blue);
}



.page{
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  margin-bottom: 150px;
}


.col-1{
  color: var(--color-white);
  font-weight: 700;
}


.logo{
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.logo p{
  margin-left: 5px;
}


/*===============Col-1=====================*/

.col-1 ul{
  display: flex;
  flex-direction: column;
  gap: 54px;
  
}


.col-1 ul li a{
  color: var(--color-white);
  font-weight: 700;
  font-size: 22px;
}


.col-1 ul li button {
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--color-blue);
  padding: 15px;
  font-size: 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.col-1 ul li button:hover{
 background-color: rgb(0 99 165);
}


.image-perfil {
  display: flex;
  gap: 10px;
  border-radius: 20px;
  padding: 3px 9px;
  border-radius: 26px;
  cursor: pointer;
  transition:  0.5s;
}

.image-perfil:hover{
  background-color: rgba(121, 118, 118, 0.22);
}
  


.image-perfil img{ 
  width: 46px;
  border-radius: 50%;
}


.image-perfil-text{
  text-align: start;

}

.image-perfil-text h2{
  font-size: 17px;

}

.image-perfil-text p {
font-size: 15px;
letter-spacing: 1px;
color: rgb(185, 180, 180);
}
  





/*===============Col-2-Central=====================*/
.container{
  width: 100%;
  position: relative;
}


.col-2 {
  border: 1px solid var(--color-white);
  width: 500px;
  display: flex;
  flex-direction: column;

}


.public-infor{
  padding: 10px;
  border: 1px solid var(--color-white);
}


.public-infor-content{
gap: 18px;
  display: flex;
}




.public-infor-content img{
  width: 54px;
  border-radius: 50%;
}

.public-infor-content button{
  width: 80%;
  cursor: pointer;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid var(--color-white); 
  color: var(--color-white);
  transition: 0.5s;
  
}
.public-infor-content button:hover{
  background-color: var(--color-blue);
}


/*========================Create-publication==============*/
#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(29, 29, 29);
  padding: 10px;
  position: absolute;
  top: 62px;
 
}


.container-publication{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 125vh;
  background: #e6e6e670;
  display: none;
}
  
  


.post-title{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 10px;
}


.post-title h1{
  font-size: 2.6rem;
  font-family: inherit;
  font-weight: 700;
}


.post-title button {
  cursor: pointer;
  width: min-content;
  background-color: transparent;
  border: none;
  color: rgb(169 166 166);
  font-size: 24px;
  transition: 0.2s;
}

.post-title button:hover{
  color: var(--color-white);;

}


.post-infor{
  gap: 9px;
  align-items: center;
  display: flex;
}


.post-infor img{
  border-radius: 50%;
  width: 36px;
  margin-top: 10px;
}


.btn-publish {
  width: 147px;
  cursor: pointer;
  border-radius: 24px;
  background-color: var(--color-blue);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  margin: 0 auto;
  padding: 10px;
  font-size: 17px;
  transition: 0.3s;
}
  


.btn-publish:hover{
  background-color: rgb(0 99 165);
}


#form textarea {
  color: black;
  background: var(--color-white);
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Verdana';
  font-size: 0.875em;
  resize: none
}


/*========================Feed-publication==============*/
.right {
  padding: 10px;
  border: 1px solid white;
  margin-top: 20px;
}

.post-perfil-content {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 7px;
  border-bottom: 1px solid var(--color-white);
  position: relative;
}

.post-perfil-content img{
  width: 45px;
  border-radius: 50%;
}


.post-perfil-descrition h2{
  font-size: 14px;
  
}




.post-perfil-descrition p {
  font-size: 11px;
  letter-spacing: 1px;
}


/*---EDIT-DELETE----*/
.post-opstions-action{
margin-left: 257px;
display: flex;
gap: 20px;
position: absolute;
right: 10px;
}

.post-opstions-action span{
  cursor: pointer;
  transition: 0.3s;
}

.post-opstions-action span:hover{
  color: var(--color-blue);
}




/*---POST-CONTENT-TEXT----*/

.post-text-content{
  padding: 10px;
}


/*===============Col-3=====================*/


.col-3 {
  width: 333px;
  border-radius: 8px;
}

.notices{
  background-color: #202327;
  border-radius: 9px;
  padding: 20px;
}
  


.notices h1{
  font-size: 25px;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 15px
}


.notices li{
  padding: 20px;
  border-radius: 9px;
  transition: 0.3s;
}

.notices li:hover{
  background-color: rgba(204, 204, 204, 0.285);
}


.notices li a{
  display: flex;
 
}

.img-notices{
  width: 60px;
  border-radius: 10px;
}



.notices-text p{
  color: rgb(113, 118, 123);

}

.notices-text h3{
 color: rgb(231, 233, 234);
 font-family: inherit;
font-size: 17px;
}











  




    

   




 














  


 

  



#posts div {

    color: white;
  }

  .options {
    font-family: inherit;
  }

 
  

