*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --color-white: rgb(255, 255, 255);;
  
  --color-blue: rgb(29, 155, 240);

}

body{
  font-family: inherit;
  background-color: black;
  color: var(--color-white);
  font-size: 1.6rem;
  
}
  


ul li{
  list-style: none;
  
}

a {
  text-decoration: none;
}

/*--mensage-error-post*/

#msg {
  color: var(--color-blue);
}



.page{
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  height: 100vh;
  margin-bottom: 150px;
  position: relative;
 
}
 


.col-1{
  color: var(--color-white);
  font-weight: 700;
}


.logo{
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.logo p{
  margin-left: 5px;
}


/*===============================Col-1========================*/

.col-1 ul {
  display: flex;
  flex-direction: column;
  gap: 14px;

}


.col-1 ul li a{
  color: var(--color-white);
  font-weight: 700;
  font-size: 22px;

}


.col-1 ul li {
  transition: 0.4s;
  width: min-content;
  padding: 10px;
  border-radius: 9px;
}


.col-1 ul li:hover{
    background-color: rgba(204, 204, 204, 0.285);
  }



.col-1 ul li button {
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--color-blue);
  padding: 15px;
  font-size: 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  width: 190px;
  border: none;
}


.col-1 ul li button:hover{
 background-color: rgb(0 99 165);
}


.image-perfil {
  display: flex;
  gap: 10px;
  border-radius: 20px;
  padding: 3px 9px;
  border-radius: 26px;
  cursor: pointer;
  transition:  0.5s;
}

.image-perfil:hover{
  background-color: rgba(121, 118, 118, 0.22);
}
  


.image-perfil img{ 
  width: 46px;
  border-radius: 50%;
}


.image-perfil-text{
  text-align: start;

}

.image-perfil-text h2{
  font-size: 17px;

}

.image-perfil-text p {
font-size: 15px;
letter-spacing: 1px;
color: rgb(185, 180, 180);
}
  





/*===============Col-2-Central=====================*/



.col-2 {
  border: 1px solid var(--color-white);
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}


/*========================Create-publication==============*/


#form {
  padding: 10px;
  border: 1px solid white;
}


.form-content-infor {
  display: flex;
  gap: 42px;
  align-items: center;
}


.form-content-infor textarea {
  color: black;
  background: var(--color-white);
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Verdana';
  font-size: 0.875em;
  resize: none;
  border-radius: 24px;
  width: 100%;
  width: 343px; 
  height: 46px;
  text-align: start;
}


.post-infor{
  gap: 9px;
  align-items: center;
  display: flex;
}


.post-infor img{
  border-radius: 50%;
  width: 59px;
  margin-top: 10px;
  margin-left: 11px;
}


.form-content-button {
  margin-right: 27px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}


.btn-publish {
  cursor: pointer;
  border-radius: 24px;
  background-color: var(--color-blue);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: 10px;
  font-size: 15px;
  transition: 0.3s;
  
}


.btn-publish:hover{
  background-color: rgb(0 99 165);
}


/*========================Feed-publication==============*/

.right {
  padding: 10px;
  border: 2px solid white;
  margin-top: 20px;
  background-color: rgb(30, 30, 30);
}


.post-perfil-content {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding: 7px;
  border-bottom: 1px solid var(--color-white);
  position: relative;
}


.post-perfil-content img{
  width: 45px;
  border-radius: 50%;
}


.post-perfil-descrition h2{
  font-size: 14px;
  
}

.post-perfil-descrition p {
  font-size: 11px;
  letter-spacing: 1px;
}


/*---EDIT-DELETE----*/

.post-opstions-action {
  margin-left: 257px;
  display: flex;
  gap: 20px;
  position: absolute;
  right: 10px;
}

.post-opstions-action span {
  cursor: pointer;
  transition: 0.3s;
}

.post-opstions-action span:hover {
  color: var(--color-blue);
}


/*---POST-CONTENT-TEXT----*/
/*--CONTAINER ONDE AS POSTAGENS SÃO FEITAS--*/

.post-text-content {
  padding: 10px;
}

/*=================================COL-3=====================================*/


.col-3 {
  width: 333px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/*---------NOTICES------------*/
/*-----Coluna de noticias----*/

.notices{
  background-color: #202327;
  border-radius: 9px;
  padding: 20px;
}


.notices h1{
  font-size: 25px;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 15px
}


.notices li{
  padding: 20px;
  border-radius: 9px;
  transition: 0.3s;
}


.notices li:hover{
  background-color: rgba(204, 204, 204, 0.285);
}


.notices li a{
  display: flex;
  
}


.img-notices{
  width: 60px;
  border-radius: 10px;
}


.notices-text p{
  color: rgb(113, 118, 123);
}


.notices-text h3 {
  color: rgb(231, 233, 234);
  font-family: inherit;
  font-size: 17px;
}


/*---------FOLLW-----------*/


.follw {
  background-color: #202327;
  border-radius: 9px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}


.follw h1 {
  font-size: 25px;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 15px
}


.follw li {
  padding: 20px;
  border-radius: 9px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  
}


.follw li:hover {
  background-color: rgba(204, 204, 204, 0.285);
}


.follw li a {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}


.btn-follw {
  font-weight: bold;
  background-color: #eaeaea;
  color: black;
  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  height: 33px;
  font-size: 13px;
  border-radius: 28px;
  transition: 0.5s;
}


.btn-follw:hover{
  background-color: #ffffff;
}


.img-follw {
  width: 60px;
  border-radius: 50%;
}


.follw-text p {
  color: rgb(113, 118, 123);
}


.follw-text h3 {
  color: rgb(231, 233, 234);
  font-family: inherit;
  font-size: 17px;
}




  


  

  
  
 
 


 














  
  


































  




    

   




 














  


 

  




 
  

