*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --color-white: rgb(255, 255, 255);
  
  --color-blue: rgb(29, 155, 240);


  /*--btn-like-and-commet*/

  --color-btn-like: rgb(255, 255, 255);

}



body{
  font-family: inherit;
  background-color: black;
  color: var(--color-white);
  font-size: 1.6rem;
  
}
  


ul li{
  list-style: none;
  
}

a {
  text-decoration: none;
}

/*--mensage-error-post*/

#msg {
  color: var(--color-blue);
}


.page{
  padding: 2.0rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  height: 100vh;
  margin-bottom: 15.0rem;
  position: relative;
}

.col-1{
  color: var(--color-white);
  font-weight: 700;
}


.logo{
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.logo p{
  margin-left: 5px;
}

/*===============================COL-1========================*/

.col-1 ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

}


.col-1 ul li a{
  color: var(--color-white);
  font-weight: 700;
  font-size: 2.2rem;
}


.col-1 ul li {
  transition: 0.4s;
  width: min-content;
  padding: 1.0rem;
  border-radius: 9px;
}


.col-1 ul li:hover{
    background-color: rgba(204, 204, 204, 0.285);
  }



.col-1 ul li button {
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--color-blue);
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 4.0rem;
  cursor: pointer;
  transition: 0.3s;
  width: 19.0rem;
  border: none;
}


.col-1 ul li button:hover{
 background-color: rgb(0 99 165);
}


.image-perfil {
  display: flex;
  gap: 1.0rem;
  border-radius: 2.0rem;
  padding: 3px 9px;
  border-radius: 2.6rem;
  cursor: pointer;
  transition:  0.5s;
}

.image-perfil:hover{
  background-color: rgba(121, 118, 118, 0.22);
}


.image-perfil img{ 
  width: 4.6rem;
  border-radius: 50%;
}


.image-perfil-text{
  text-align: start;

}

.image-perfil-text h2{
  font-size: 1.7rem;

}

.image-perfil-text p {
font-size: 1.5rem;
letter-spacing: 1px;
color: rgb(185, 180, 180);
}


/*==========================COL-2-CENTRAL==============================*/

.col-2 {
  border: 1px solid var(--color-white);
  width: 50.0rem;
  display: flex;
  flex-direction: column;
  position: relative;
}


/*=====================Create-publication==============================*/
/*=====================Container de Criação de publicação==============*/


#form {
  padding: 1.0rem;
  border: 1px solid white;
}


.form-content-infor {
  display: flex;
  gap: 4.2rem;
  align-items: center;
}


.form-content-infor textarea {
  color: black;
  background: var(--color-white);
  border: 1px solid #ccc;
  padding: 1.0rem;
  font-family: 'Verdana';
  font-size: 0.875em;
  resize: none;
  border-radius: 2.4rem;
  width: 100%;
  width: 34.3rem; 
  height: 4.6rem;
  text-align: start;
}


.post-infor{
  gap: 9px;
  align-items: center;
  display: flex;
}


.post-infor img{
  border-radius: 50%;
  width: 5.9rem;
  margin-top: 1.0rem;
  margin-left: 1.1rem;
}


.form-content-button {
  margin-right: 2.7rem;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}


.btn-publish {
  cursor: pointer;
  border-radius: 2.4rem;
  background-color: var(--color-blue);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: 1.0rem;
  font-size: 1.5rem;
  transition: 0.3s;
  
}


.btn-publish:hover{
  background-color: rgb(0 99 165);
}

/*=================LIKE-AND-COMMENT============================*/


/*---like-and-comment-global-configuration--*/
.like-end-coment{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: rgba(61, 61, 61, 0.247);
  border-top: 1px solid var(--color-white);
  padding-top: 9px;
 
}


.coment-section,
.like-section {
  align-items: center;
  display: flex;
  gap: 9px;
  cursor: pointer;
  transition: transform 0.3s;
 
}

/*--click-mutter-color--*/
.body-content.active-btn-like {
  --color-btn-like: rgb(29, 155, 240);;
}


/*---like-Section------*/

.like-section:hover {
  transform: scale(1.1);
}


.svg-icon-like{
  height: auto;
  width: 100%;
}


.svg-icon-like svg {
  width: 17px;
}


.like-section p {
  font-size: 14px;
}

.like-section p{
  color: var(--color-btn-like);
}


.svg-icon-like svg path {
  fill :var(--color-btn-like)
}


/*----Coment-Section-----*/

 .coment-section:hover {
   transform: scale(1.1);
 }

 .coment-section p {
   font-size: 12px;
 }

.svg-coment-icon svg path {
  fill: var(--color-white);
   
 }



/*======================Feed-publication==============*/
/*======================Feed-publicções===============*/


.right {
  padding: 1.0rem;
  border: 2px solid white;
  margin-top: 2.0rem;
  background-color: rgb(30, 30, 30);
}


.post-perfil-content {
  display: flex;
  gap: 1.0rem;
  margin-top: 1.0rem;
  padding: 7px;
  border-bottom: 1px solid var(--color-white);
  position: relative;
}


.post-perfil-content img{
  width: 4.5rem;
  border-radius: 50%;
}


.post-perfil-descrition h2{
  font-size: 1.4rem;
  
}

.post-perfil-descrition p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

/*---EDIT-DELETE----*/
/*--Botão edit e delet--*/

.post-opstions-action {
  margin-left: 25.7rem;
  display: flex;
  gap: 2.0rem;
  position: absolute;
  right: 1.0rem;
}

.post-opstions-action span {
  cursor: pointer;
  transition: 0.3s;
}

.post-opstions-action span:hover {
  color: var(--color-blue);
}


/*---POST-CONTENT-TEXT----*/
/*--CONTAINER ONDE AS POSTAGENS SÃO FEITAS--*/


.post-text-content {
  padding: 1.0rem;
}

/*=================================COL-3=====================================*/


.col-3 {
  width: 33.3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

/*---------NOTICES------------*/
/*-----Coluna de noticias----*/

.notices{
  background-color: #202327;
  border-radius: 9px;
  padding: 2.0rem;
}


.notices h1{
  font-size: 2.5rem;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 1.5rem;
}


.notices li{
  padding: 2.0rem;
  border-radius: 9px;
  transition: 0.3s;
}


.notices li:hover{
  background-color: rgba(204, 204, 204, 0.285);
}


.notices li a{
  display: flex;
  
}


.img-notices{
  width: 6.0rem;
  border-radius: 1.0rem;
}


.notices-text p{
  color: rgb(113, 118, 123);
}


.notices-text h3 {
  color: rgb(231, 233, 234);
  font-family: inherit;
  font-size: 1.7rem;
}


/*---------FOLLW-----------*/
/*--------SEGUIDORES-------*/


.follw {
  background-color: #202327;
  border-radius: 9px;
  padding: 2.0rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}


.follw h1 {
  font-size: 2.5rem;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 1.5rem;
}


.follw li {
  padding: 2.0rem;
  border-radius: 9px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  
}


.follw li:hover {
  background-color: rgba(204, 204, 204, 0.285);
}


.follw li a {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.0rem;
}


.btn-follw {
  font-weight: bold;
  background-color: #eaeaea;
  color: black;
  cursor: pointer;
  border: none;
  padding: 1.0rem;
  text-align: center;
  height: 3.3rem;
  font-size: 1.3rem;
  border-radius: 2.8rem;
  transition: 0.5s;
}


.btn-follw:hover{
  background-color: #ffffff;
}


.img-follw {
  width: 6.0rem;
  border-radius: 50%;
}


.follw-text p {
  color: rgb(113, 118, 123);
}


.follw-text h3 {
  color: rgb(231, 233, 234);
  font-family: inherit;
  font-size: 1.7rem;
}

















  


  

  
  
 
 


 














  
  


































  




    

   




 














  


 

  




 
  

